.shop-page-product-types{
    margin-bottom: 63px;
   p{
       display: inline-block;
       margin: 0 1.5rem;
   a{
       font: 1.188rem $accent-font-family;
    color: $color__text-screen;
	text-decoration: none;
}
}
}