#primary {
	display: flex;
	width: 1120px;
	margin:0 auto;
	padding-top: 48px;
}

.blog, .single-post, .date {
.type-post {
	width:800px;
	padding-right: 2rem;
	padding-top: 48px;

  .entry-header, img {
   position:relative;
   width:100%;

  .entry-meta {
    position: absolute;
    bottom: 7px;
    right:0;
    color: #fff;
    width: 75%;
    background: #248a83;
    text-align: center;
    text-transform:uppercase;
    font-family: "novecento_normal";

    }

   .entry-title {
    position:absolute;
    top:0px;
    background: #248a83;
    color:white;
    width:75%;
    padding:1rem;
    text-transform: uppercase;
    a {
      color: white;
      text-decoration: none;
      font-family: "novecento_normal";
      font-size: 2.2rem;

      &:hover{
        color: #f0e4d1;
       }
      }
    }
   }
  }
}

.read-more-article {
 border: 1px solid black;
 text-decoration: none;
 color: black;
 font-size: 1rem;
 padding: .8rem 1.2rem;
 margin-top: 4%;
 text-transform: uppercase;

 &:visited {
  color:black;
 }

&:hover {
 background-color: #248a83;
 border: 1px solid #248a83;
 color: white;
}
}
