	.content-area {
		margin-left: auto;
		margin-right: auto;
		width: 1120px;
		.page-title {
			font: 2rem $main-font-family;
			line-height: 3em;
		}
	}
	
	.boxes {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.product-post {
		border: 1px solid #e1e1e1;
		width: 23%;
		margin-bottom: 1.5rem;
		.product-thumbnail {
			background: #e1e1e1;
			img {
				height: 250px;
				width: auto;
				background-size: cover;
			}
		}
		.product-info {
			padding: .75rem 1rem;
			display: flex;
			.entry-title {
				font: 1rem $accent-font-family;
				justify-content: space-around;
				padding: 0 1rem;
			}
			h3 {
				justify-content: flex-start;
			}
			span {
				justify-content: flex-end;
				font: 0.9rem $accent-font-family;
				position: absolute;
				padding-left: 11rem;
				padding-top: 1rem;
			}
		}
	}
	
	.boxes-archive {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	.single-post {
		.site-content {
			display: flex;
		}
		.site-mains {
			width: 100%;
		}
	}
	
	.tax-product_type,
	.post-type-archive {
		.page-header {
			border-bottom: 1px dashed $color__border-abbr;
			margin-bottom: 3rem;
			text-align: center;
			font: 1rem $accent-font-family;
			line-height: 1.75em;
		}
	}