
.widget-title{
	display: flex;
	align-content: flex-start;
	text-align: left;
}
.widget-area {
		/*padding: 10% 13px 0 0;*/
		/*margin-left: 80px;*/
		flex: 26% 0 0;

		h2 {
			font: 1.5rem sans-serif;
			color: #2f1339;
			line-height: 2rem;
			text-align: left;

		}
		a {
			color: #248A83;
			line-height: 28px;
		}
		i {
			margin-right: 5px;
		}
		p {
			font: 1rem serif;
		}
		span {
			font: 1rem serif;
		}
		li {
			list-style-type: none;
		}
	}
	